/*
Theme Name:Clinic Stripes
Theme URI: http://physicaltherapythemes.com
Description: This is a Physical Therapy theme with with many options for customization without having to know any code. It has a reactive design to fit on devices from wide screens to cell phones, and allows you to easily control the text, images and colors. It is also great for chiropractic, acupuncture, massage therapy, naturopathic or dental.
Author: Derek Gibbons from Clinic Website Systems
Author URI: http://wpclinicthemes.com
Version: 1.09
License: GNU General Public License v3
License URI: http://www.gnu.org/licenses/gpl.html
Text Domain: clinic-stripes
Tags: left-sidebar, right-sidebar, custom-colors, custom-menu, editor-style, featured-images, full-width-template, sticky-post, theme-options, threaded-comments, translation-ready
*/

/* Reset */
html, body, div, object, iframe, p, blockquote, img, small, tt, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, hgroup, menu, nav, output, ruby, section, summary, time,
mark, audio, video, h1, h2, h3, h4, h5, h6, ol, ul, li{
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
vertical-align: baseline;
background: transparent;
font-style: normal;
font-family:arial;
font-weight:normal;
color:#505050;
}

body{
	background-color:#eee;
}

img{
	max-width:100%;
}

table td{
	padding: 8px;
	line-height: 18px;
	text-align: left;
	vertical-align: middle;
	border-top: 1px solid #DDD;
	color:#505050
}

@font-face {
    font-family: 'oswaldbook';
    src: url('fonts/oswald-regular.eot');
    src: url('fonts/oswald-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/oswald-regular.woff') format('woff'),
         url('fonts/oswald-regular.ttf') format('truetype'),
         url('fonts/oswald-regular.svg#oswaldbook') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sansregular';
    src: url('fonts/opensans-regular.eot');
    src: url('fonts/opensans-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-regular.woff') format('woff'),
         url('fonts/opensans-regular.ttf') format('truetype'),
         url('fonts/opensans-regular.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'open_sans_semiboldregular';
    src: url('fonts/opensans-semibold.eot');
    src: url('fonts/opensans-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/opensans-semibold.woff') format('woff'),
         url('fonts/opensans-semibold.ttf') format('truetype'),
         url('fonts/opensans-semibold.svg#open_sans_semiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family:'pt_sansregular';
    src: url('fonts/pts55f.eot');
    src: url('fonts/pts55f.eot?#iefix') format('embedded-opentype'),
         url('fonts/pts55f.woff') format('woff'),
         url('fonts/pts55f.ttf') format('truetype'),
         url('fonts/pts55f.svg#pt_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4{
	font-family:oswaldbook;
}

h1{
	font-size:42px;
	line-height:1em;
	padding:15px 0;
		
}

h2{
	font-size:28px;
	line-height:1.1em;
	padding:15px 0;
}

h3{
	font-size:22px;
	line-height:1.1em;
	padding:10px 0;
}

h4{
	font-size:18px;
	line-height:1.1em;
	padding:10px 0;
	font-family:open_sansregular;
	
}

h5{
	font-size:16px;
	line-height:1.1em;
	padding:10px 0;
}

h6{
	font-size:14px;
	line-height:1.1em;
	padding:10px 0;
	
}

.wrapper-head{
	background-color:#f2f2f2;
	clear:both;
}

.wrapper-nav{
	background-color:#393939;
	clear:both;
}

.wrapper1{
	position:relative;
	z-index:2;
	clear:both;
}

.wrapper-front-widgets{
	position:relative;
	z-index:2;
	clear:both;
}

.wrapper-last{
	box-shadow:1px 1px 3px #504a4b;
	position:relative;
	background-color:#fff;
	clear:both;
}

.wrapper-single-stripe{
	background-color:#f2f2f2;
	border-bottom:2px solid #3ba7bf;
	clear:both;
}

.container-front-page{
	max-width:990px;
	margin:auto;
	padding:0 15px;
	overflow:hidden;
}

.container-nav{
	max-width:990px;
	margin:auto;
	background-color:transparent;
}

.container1{
	max-width:990px;
	margin:auto;
	padding:0 15px;
	overflow:hidden;
}

.container-front-widgets{
	max-width:990px;
	margin:auto;
	padding:0 15px;
	overflow:hidden;
}

.container-transparent{
	max-width:990px;
	margin:auto;
	padding:0 15px;
	overflow:hidden;
	background-color:transparent;
}

.container-top-border{
	max-width:990px;
	margin:auto;
	padding:0 15px;
	overflow:hidden;
	border-top:solid 1px #3ba7bf;
}

#logo{
	float:left;
	padding:15px 0;
	max-width:500px;
}

.info-box{
	margin:5px 0 10px 0;
	padding:15px;
	float:right;
	height:100px;
}

.info-box p{
	color:#5a5af2;
	font-family:open_sansregular;
	font-size:14px;
}

.info-box a{
	text-decoration:none;
	color:#5a5af2;
}

.info-box h3{
	color:#88a4b9;
}

#phone{
	
}

#your-email{
	border-left:solid 1px #505050;
	border-right:solid 1px #505050;
}

#address{
	
}

header{
	clear:both;
}

/* Navigation Style -------------------------------------------------------------------------------------------------------------------------------- */

/* container class - This is for the main site navigation */
#main-navigation{
	clear:both;
	width:100%;
	display:inline-block;
	position:relative;
	z-index:9;
	margin-bottom:-3px;
} 

#main-navigation li  {
	display: block;
	float: left;
	position: relative; /* this is needed in order to position sub menus */
	line-height:40px;
	font-family:pt_sansregular;
	text-transform:uppercase;
}

#main-navigation li a{
	color:#fff;
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	background-color:#393939;
}

#main-navigation li a:hover{
	-webkit-transition: all 0.25s ease;
	-moz-transition: all 0.25s ease;
	-o-transition: all 0.25s ease;
	transition: all 0.25s ease;
	border-radius:0;
	background-color:#565656;
}

#main-navigation select{
	display:none; /* hide drop down navigation menu from larger screens */
	text-align:left;
	height: 30px;
	width:100%;
	font-size:20px;
	border:solid 2px #d2d2d2;	
}

#main-navigation span{
	display:none;
}

#main-navigation li a {
	display: block;
	padding: 0 15px; /* This controls the spacing between the menu items.  Decrease it to make your menu fit on one line */
	text-decoration:none;
	color:#fff;
}

#main-navigation ul ul { /* this targets all sub menus */
	display: none; /* hide all sub menus from view - we put it back with a media query */
	position: absolute;
	top: 40px; /* this should be the same height as the menu item line height -- height + padding + borders */
	z-index:9;
	padding:0;
}

#main-navigation ul ul li { /* this targets all submenu items */
	float: none; /* overwriting our float up above */
}

#main-navigation ul ul li a{
	border-radius:0;
	white-space:nowrap; /* this keeps the submenu text on one line */
}

#main-navigation ul li:hover > ul {
	display: block; /* show sub menus when hovering over a parent */
}

#main-navigation ul ul li ul {
	/* targets all second, third, and deeper level sub menus */
	margin-left: 100%; /* this moves the sub sub menu over so it doesn't cover the sub menu */
	top: 0; /* this ensures the sub menu starts in line with its parent item */
}

/* FRONT PAGE STYLES -------------------------------------------------------------------------------------------------------- */

.site-info-text { /* This is the site text that shows in place of the logo if the logo is removed from the cutomizer */ 
	margin-top:20px;
}

.site-info-text a{
	text-decoration:none;
	color:#505050;
}

.site-info-text #title-text{
	font-family:open_sansregular;
	font-size:26px;
	letter-spacing:-1px;
}

.site-info-text #description-text{
	font-family:open_sansregular;
	font-size:20px;
	letter-spacing:-1px;
}

.info-box h4{
	font-family:oswaldbook;
}

#front-page-headline{
	float:left;
	padding-right:15px;
	width:36%;
	padding-top:15px;
}

#tagline-top{
	font-family:oswaldbook;
	font-size: 40px;
	line-height: 1.2em;
	color:#3ba7bf;
	text-transform:uppercase;
}

#tagline-bottom{
	font-family:oswaldbook;
	font-size: 40px;
	line-height: 1.2em;
	color:#555;
	text-transform:uppercase;
}

.media-wrapper{
	width:62%;
	float:left;
}

.video-container {
	position: relative;
    padding-bottom: 56%;
    height: 0;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* Front page stripe area ---------------------------------------------------------------------------------- */

.wrapper-front-stripe{
	background-color:#f2f2f2;
	border-bottom:5px solid #3ba7bf;
}

.front-stripe-columns{
	width:31.5%;
	float:left;
}

.front-stripe-columns a{
	text-decoration:none;
	color:#505050;
}

.front-stripe-columns#front-column-left{
	padding:20px 10px 30px 0;
}

.front-stripe-columns#front-column-middle{
	padding:20px 10px 30px;
}

.front-stripe-columns#front-column-right{
	padding:20px 0 30px 10px;
}

.front-column-head{
	font-family:open_sansregular;
	font-size:25px;
}

.front-column-sub-head{
	font-size:20px;
	padding-bottom:5px;
}

/* Widget columns on front page ------------------------------------------------------------------------------------------------- */

.front-page-column-widget-containers{
	width:31.5%;
	float:left;
}

.image-holder{
	height:115px;
}

.image-text{
	color:white;
	font-size:25px;
	line-height:1em;
	padding:5px 10px;
	background:rgba(0,0,0,0.65);
}

.front-page-column-widget-containers#front-container-left{
	padding:20px 10px 30px 0;
}

.front-page-column-widget-containers#front-container-middle{
	padding:20px 10px 30px;
}

.front-page-column-widget-containers#front-container-right{
	padding:20px 0 30px 10px;
}

.front-image-container#left{
	background-image:url("images/doc-with-spine.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100%;
}

.front-image-container#middle{
	background-image:url("images/hours.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100%;
}

.front-image-container#right{
	background-image:url("images/pin-map.jpg");
	background-repeat:no-repeat;
	background-position:center center;
	background-size:100%;
}

.front-column-widget li a:hover{
	text-decoration:underline;
}

.front-column-widget ul{
	list-style-type:none;
}

/*  FOOTER AREA -------------------------------------------------------------------------------------------------------- */

.footer-wrapper{
	background-color:#eee;
	overflow:hidden;
	clear:both;
}

footer{
	max-width:960px;
	margin:auto;
	clear:both;
	padding-top:20px;
}

footer h4{
	font-size:16px;
	text-transform:uppercase;
	color:#505050;
}

.footer-widget-1{
	width:25%;
	float:left;
}

/* Footer Navigation --------------------------------------------------------------------------------------------------------- */

.foot-container-nav{
	width:75%;
	float:right;
}

#foot-navigation ul{
	float:right;
}

#foot-navigation li  {
	display: inline;
	float:left;
	line-height:40px;
	font-family:pt_sansregular;
	padding:5px;
}

#foot-navigation li a{
	color:#000;
	text-decoration:none;
}

#foot-navigation li a:hover{
	text-decoration:underline;
}


#foot-navigation ul ul { /* this targets all sub menus */
	display: none; /* hide all sub menus from view */
}



/* Columns -------------------------------------------------------------------------------------------------------------------- */

.entry-single{
	font-family:arial;
	line-height:1.5em;
}

.two-thirds-left{
	width:66%;
	float:left;
	padding:20px 0;
	overflow:hidden;
}

.one-third-right{
	width:30%;
	float:right;
	padding:20px 0;
	overflow:hidden;
}

.two-thirds-right{
	width:66%;
	float:right;
	padding:20px 0;
	overflow:hidden;
}

.one-third-left{
	width:30%;
	float:left;
	overflow:hidden;
	padding:20px 0;
}

.three-quarters-left{
	width:70%;
	float:left;
	padding:20px 0;	
}

.one-quarter-right{
	width:25%;
	float:right;
	padding:20px 0;
}

.three-quarters-right{
	width:70%;
	float:right;
	padding:20px 0;	
}

.one-quarter-left{
	width:25%;
	float:left;
	padding:20px 0;
}

.one-half-left{
	width:48%;
	float:left;
	padding:20px 10px 20px 0;	
}

.one-half-right{
	width:48%;
	float:right;
	padding:20px 0 20px 10px;
}

.one-column{
	padding:20px 0;
}

.single-column{
	padding:20px 0;
}

#thank-you-background{
	background-image:url('images/thankyou.png');
	background-repeat:no-repeat;
	min-height:250px;
	background-position:center top;
	text-align:center;
	padding-top:50px;
	color:#000;
}

/*  Blog Index Page -------------------------------------------------------------------------------------------------- */

.clinic-stripes-thumbnail{
	position:relative;
}

.clinic-stripes-thumbnail img{
	float:left;
	padding: 10px 10px 10px 0;
	margin:0 20px 10px 0;
	box-shadow:3px 3px 3px #d2d2d2;
}

.clinic-stripes-thumbnail p{
	color:#555;
}

.post{
	clear:both;
}

.post-titles a{
	text-decoration:none;
	font-family:oswaldbook;
	font-size:26px;
	color:#333;
	line-height:1.3em;
}

h1.main-titles{
	font-size: 42px;
	line-height: 1.1em;
	padding: 30px 0px;
}

.meta-above{
	color:#818181;
	padding-bottom:15px;
}

.meta-above a{
	color:#818181;
	text-decoration:none;
}

.meta-above a:hover{
	text-decoration:underline;
}

.blog-index-post-nav-links{
	margin:0 15px;
}

#nav-older{
	float:left;
}

#nav-newer{
	float:right;
}

.entry{
	padding-bottom:10px;
	margin-bottom:10px;
	border-bottom:solid #ddd 1px;
	overflow:hidden;
	
}


/* Single blog page ------------------------------------------------------------------------------------------- */

.tags {
	text-decoration:none;
	font-size:.75em;
	color:#505050;
}

.tags a{
	text-decoration:none;
	color:#505050;
}

.tags a:hover{
	text-decoration:underline;
} 

/* Comments Area  ----------------------------------------------------------------------------------------------  */

h3.comments-title{
	font-family:open_sansregular;
	
}

.comment-body{
	padding:20px 10px;
	margin:15px 0;
	border-top:solid 1px #707070;
}

.comment-body a{
	text-decoration:none;
}

.comment-body p{
	padding:15px 0;
}

a.comment-reply-link {
	background-color:#3ba7bf;
	color:#fff;
	padding:8px;
	border-radius:5px;
	clear:both;
}

a:hover.comment-reply-link {
	background-color:#49cce9;
}

.comments-area ol.children {
	margin-left:40px;
	list-style-type:none;
}

.avatar{
	float:left;
	margin-right:10px;
	box-shadow:1px 1px 3px #ddd;
	background-color:#fff;
	padding:5px;
}

#respond label{
	font-size:16px;
	line-height:220%;
	color:#888;
	display:block;
	margin:10px 0;
}

#respond input, #respond textarea{
	padding: 6px 4px;
	border-radius: 2px;
	color: #777;
	border: 1px solid #CCC;
	max-width:50%;
	font-size:16px;
}

#respond textarea{
	max-width:95%;
}

#respond input:focus, #respond textarea:focus{
	color: #444;
	box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.2);
}

#comment input{
	padding: 6px 4px;
	border-radius: 2px;
	color: #777;
	border: 1px solid #CCC;
	width:50%;
	font-size:16px;
}

.form-allowed-tags{
	margin:20px 0;
}

input#submit{
	background-color:#3ba7bf;
	cursor:pointer;
	border-radius:5px;
	max-width:130px;
	margin-left:25px;
	color:#fff;
}

input#submit:hover{
	background-color:#49cce9;
}

/*  Sidebar Styles ------------------------------------------------------------------------------------------ */

aside ul li{
	list-style-type:none;
}
aside ul li a{	
	text-decoration:none;
	color:#000;
	line-height:1.5em;
}

aside ul li a:hover{
	color:#00f;
	text-decoration:underline;
	list-style-type:circle;
}

/* 404 Page ------------------------------------------------------------------------------------------------------------ */

#not-found-text{
	font-size:142px;
}

#four-o-four-image img{
	max-width:100%;
}

/* Gray Sidebars ------------------------------------------------------------------------------------------ */

#gray-sidebars{
	margin: 15px 0 25px;
	padding: 15px;
	background-color: #efefef;
}

#gray-sidebars .menu li, #gray-sidebars .menu ul ul li{
	list-style-type:none;
	line-height: 40px;
	font-family: pt_sansregular;
	font-size: 20px;
}

#gray-sidebars li a{
	text-decoration:none;
}

#gray-sidebars ul a{
	padding-left:30px;
	color:#a2a2a2;
}

#gray-sidebars li a:hover{
	background-image:url("images/arrow.png"); background-repeat:no-repeat; color:#000; text-decoration:none;
	color:#000;
}

#gray-sidebars li.current_page_item a{
	background-image:url("images/arrow.png"); background-repeat:no-repeat; 
	color:#000;
}

#gray-sidebars div.textwidget h3 a{color:blue !important}

.site-buttons, .front-headline-button{
	margin:20px 0 25px;
}

.site-buttons a, .front-headline-button a{
	text-decoration: none;
	font-family: pt_sansregular;
	font-size: 18px;
	color: #FFF;
	background-color: #3bafbf;
	background-repeat: repeat;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 1px 1px 3px #505050;
	border:solid 1px #fff;
}

.site-buttons a:hover, .front-headline-button a:hover{
	background-color:#49cce9;
}

.sidebar-address{
	padding:25px 0;
}

.sidebar-phone, .sidebar-email{
	font-family:open_sansregular;
	margin:15px 0
}

.sidebar-phone a, .sidebar-email a{
	text-decoration:none;
}

.sidebar-phone a:hover, .sidebar-email a:hover{
	text-decoration:underline;
}

.sidebar-email{
	
}

/* =WordPress Core - These Are Wordpress required classes  ------------------------------------------------------------- */

.sticky{
	background-color:#f1f1f1 !important;
}

.alignnone {
    margin: 5px 20px 20px 0;
	max-width:100%;
	height:auto;
}

.aligncenter,
div.aligncenter {
    display: block;
    margin: 5px auto 5px auto;
	max-width:100%;
	height:auto;
}

.alignright {
    float:right;
    margin: 5px 0 20px 20px;
	max-width:100%;
	height:auto;
}

.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
	max-width:100%;
	height:auto;
}

a img.alignright {
    float: right;
    margin: 5px 0 20px 20px;
}

a img.alignnone {
    margin: 5px 20px 20px 0;
	max-width:100%;
	height:auto;
}

a img.alignleft {
    float: left;
    margin: 5px 20px 20px 0;
}

a img.aligncenter {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.wp-caption,.gallery-caption {
    background: #fff;
    max-width: 96%; /* Image does not overflow the content area */
    padding: 5px 3px 10px;
    text-align: center;
}

.wp-caption.alignnone {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
    margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
    margin: 5px 0 20px 20px;
}

.wp-caption img {
    border: 0 none;
    height: auto;
    margin: 0;
    max-width: 98.5%;
    padding: 0;
    width: auto;
}

.wp-caption p.wp-caption-text {
    font-size: 11px;
    line-height: 17px;
    margin: 0;
    padding: 0 4px 5px;
}

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
}

.entry-single li{
	margin-left:15px;
}

.bypostauthor{
	
}

.size-auto, 
.size-full,
.size-large,
.size-medium,
.size-thumbnail {
	max-width: 100%;
	height: auto;
}

.page p, .post p{
	margin:12px 0;
}

/* HTML Tags ------------------------------------------------------------------------------------------------------- */

blockquote {
	margin: 1em;
	padding-left: 30px;
	background-image: url('images/quote-marks.png');
	background-repeat:no-repeat;
	min-height:20px;
}

/* For Responsive Design -------------------------------------------------------------------------------------------- */

@media screen and (max-width: 800px) {

	.container-front-page, .container1{
		padding:0;
	}
	
#logo,#phone,#your-email,#address,#main-image-box, .media-wrapper{
		width:100%;
		float:none;
		text-align:center;
	}
	
	#front-page-headline{
		width: 100%;
		text-align: center;
		max-width: 600px;
		margin: auto;
		float: none;
	}
	
	#front-page-main-image {		
		max-width:580px;
		width:100%;
		margin:auto;
		float:none;
	}
	
	#front-page-main-image img{
		width:100%;
		margin-bottom:-4px;
	}
	
	.front-stripe-columns{
		width:100%;
		float:none;
	}
	
	#front-column-left.front-stripe-columns{
		padding-left:10px;
	}
	
	.front-page-column-widget-containers{
		width:100%;
		max-width:312px;
		margin:auto;
		float:none;
		padding:0;
	}
	
	.front-page-column-widget-containers#front-container-left, .front-page-column-widget-containers#front-container-middle, .front-page-column-widget-containers#front-container-right{
	padding:10px 0;
	}
	
	.two-thirds-left, .one-third-right, .two-thirds-right, .one-third-left {
		width:100%;
		float:none;
	}
	
	.three-quarters-left, .three-quarters-right, .one-quarter-left, .one-quarter-right, .one-half-left, .one-half-right{
		float:none;
		width:100%;
		clear:both;
	}
	
	#main-navigation{
		border-radius:0;
	}
	
	#main-navigation select{
		display:block;
	}
	
	#main-navigation ul{
		display:none;
	}
}

@media screen and (max-width: 600px) {
	.front-page-columns{
		display:block;
		padding-bottom:25px;
		width:100%;
		text-align:center;
		float:none;
	}
	
	#middle.front-page-columns{
		display:block;
		text-align:center;
		padding-bottom:25px;
	}

	.right-front-page-boxes{
		width:100%;
		float:none;
		text-align:center;
	}

	footer{
		display:none;
	}

	article.content,aside.main-sidebar {
		width:100%;
		float:none;
	}
	
	#your-email{
		border:none
	}
}

@media screen and (max-width: 700px) {
	.info-box{
		padding:5px
	}
}

.front-column-widget li a{
	text-decoration:none;
	line-height:1.5em;
}

#customize-theme-controls .accordion-section-title #accordion-section-nav_colors{
	color:blue !important;
	background-color:blue !important;
	font-size:500px;
}

#accordion-section-nav_colors h3{
	color:yellow;
}



