.clinic-stripes-option h1{
	line-height:1em;
}

.clinic-stripes-option{
	max-width:960px;
}

.clinic-stripes-option{
	margin-bottom:75px;
}

.clinic-stripes-option img{
	max-width:75%;
}

.clinic-stripes-option p{
	font-size:16px;
	margin:16px 10px;
}

.upsell-button{
	padding:20px 0;
}

.upsell-button a{
	background-color:#298cba;
	border: solid 1px #1b607f;
	color:#fff;
	padding:5px 10px;
	border-radius:5px;
	font-size:18px;
	font-style:normal;
}

#slider-disclaimer{
	font-size:16px;
}