/*
 Theme Name:   Clinic Stripes Child
 Theme URI:    http://www.healingsynergyllc.com/twenty-fifteen-child/
 Description:  Clinic Stripes Child Theme
 Author:       TIMWEBDEV
 Author URI:   http://healingsynergyllc.com
 Template:     clinic-stripes
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  clinic-stripes-child
*/

/* THEME EDITS */

.wrapper1,
.wrapper-front-stripe,
.wrapper-front-widgets,
.footer-widget-1 {
	visibility:hidden;
	display:none;
}

.info-box p, .info-box a {
    text-decoration: none;
    color: #2c3303 !important;
    transition: .4s;
}

.info-box a:hover {
    color: #999999 !important;
}

h2 a {
    color: #3ba7bf;
    text-decoration: none;
    transition: all .5s;
}

h2 a:hover {
    color: #699faa;
}

h2 a:visited {
    color: #3ba7bf;
}

/* GENERAL STYLING */

.home-intro {
  margin: 0 15px;
}

.home-intro h1 {
    margin-bottom: 20px;
}

.home-intro p img {
    width:100%;
    margin: 0 auto;
}

.dear-parent {
    font-size: 25px;
    font-weight: 600;
    margin-bottom: 20px;
}

.home-intro h1 {
    margin-bottom: 20px;
}

.home-intro-two {
    display: inline-block;
    margin: 10px 15px 0;
}

.home-intro-two .guidance {
    border-top: 2px solid;
    margin: 40px 0 20px;
    padding: 40px 0 0 0;
}

.home-intro-two .guidance ul {
    margin-left: 18px;
}

.home-wrap {
	padding: 15px;
}

.home-wrap .home-img {
	width: 100%;
	height: auto;
}

img.home-img-two {
	border-radius: 8px;
    box-shadow: 1px 1px 2px 0px;
	text-align: center;
}

.home-buttons {
	display: inline-block;
}

.home-section-two {
	margin-top: 30px;
}

.home-img-bottom img {
	border-radius: 8px;
    box-shadow: 1px 1px 1px 0px;
    width: 875px;
    margin-top: 20px;
}

.quote-block {
	padding: 30px;
	margin: 45px 20px;
	border-top: 1px dashed #444;
	border-bottom: 1px dashed #444;
}

.float-img-right {
	width: 100%;
	height: auto;
}

.float-img-right-two {
	width: 100%;
	height: auto;
}

.float-img-left {
    width: 100%;
	height: auto;
}

.mission-heading {
	margin-top: 25px;
	margin-bottom: 15px;
}

.list-wrap {
	display: inline-block;
	width: 100%;
	margin-top: 20px;
	margin-bottom: 20px;
}

.resource-hide {
		display:none;
}

.us-readers {
	margin: 55px 60px 20px 60px;
	padding: 10px;
	border: 1px solid #606060;
	text-align: center;
	font-weight: bold;"
}

.wrapper-single-stripe {
	display: none;
}

.entry-single {
    margin-top: 10px;
}

.contact-link a {
	color: #3ba7bf;
	transition: .4s;
	text-decoration: none;
}

.contact-link a:hover {
	text-decoration: underline;
}

.services-page a {
	color: #3ba7bf;
	text-decoration: none;
	transition: .4s;
}

.services-page a:hover {
	color: #308ca0;
}

.testimonial-one {
	margin: 10px 0 40px;
  padding-bottom: 25px;
  border-bottom: 1px solid #505050;
}

.testimonial-two {
	margin-bottom: 60px;
}

.why-wait {
    padding: 50px 0;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 50px 0;
}

.why-wait h1 {
    font-size: 27px;
}

.ebook-bio {
    margin: 100px 0 50px;
		font-size: 0px;
}

.ebook-bio a {
    color: #3ba7bf;
    text-decoration: none;
    text-transform: uppercase;
    margin-right: 15px;
		transform: .4s;
}

.ebook-bio a:hover {
		color: #308ca0;
}

.podcast {
		display: inline-block;
		vertical-align: top;
}

.video-cast {
    display: inline-block;
		width: 100%;
}

.video-cast iframe {
    width: 100%;
}

.podcast p {
    font-size: 16px;
}

.podcast audio {
    margin: 20px 0 0 0;
}

.first-review p {
	font-weight: 600;
}

.container-top-border {
    border-top: none !important;
}

#clinicwebsitesolutions-credit {
	display: none;
}

.foot-container-nav {
    margin-bottom: 20px;
}


.workshop-link {
color: #3ba7bf;
text-decoration: none;
}

h2.review-title {
    font-size: 30px;
    border-top: 2px solid;
    border-bottom: 2px solid;
    margin: 40px 20px 20px;
    padding: 30px 0;
}

/* AFFLIATE STYLES */

.front-headline-button.home-buttons.affiliate-page {
    margin: 20px auto 40px;
    display: inline-block;
    width: 100%;
}

.front-headline-button.home-buttons.affiliate-page a {
    margin:0 4px;
}

.affiliate-intro p {
    font-size: 13px;
}

.affiliates-lineup {
    text-align: center;
}

.affiliates-lineup .affiliate-bio {
    display: inline-block;
    width: 100%;
    vertical-align: top;
    margin: 40px 0;
}

.affiliates-lineup h2 {
    text-transform: uppercase;
    margin-top:20px;
}

.affiliate-bio img {
    width: 325px;
    border-radius: 50%;
}

.affiliate-bio-copy {
    margin: 20px 0 0 0;
}

@media(min-width:992px){

  .affiliate-intro p {
    font-size: 100%;
}

  .affiliates-lineup .affiliate-bio {
      width: 23%;
      vertical-align: top;
      padding: 5%;
  }

  .affiliate-bio img {
      width: 220px;
  }

  .affiliates-lineup h2 {
      margin: 30px 0 -40px;
  }

  .affiliates-lineup h2 {
      letter-spacing: 14px;
    }

}

/* COURSE STYLES */

.courses-intro {
    margin: 40px 0;
}
.courses-intro img {
    float: left;
    width: 30%;
    margin: 0 30px 0px 0;
}

@media (max-width:768px) {

		.video-ad {
			width:100%;
		}

		.video-ad iframe {
			width: 100%;
		}

		.testimonial-one,
		.testimonial-two,
		.testimonial-three,
		.testimonial-four,
		.testimonial-five {
			padding: 0 15px;
		}

}

@media (min-width: 525px) {
	.about-img {
		    width: 375px;
    		height: auto;
    		border-radius: 8px;
	}

	.float-img-right {
	float: right;
    width: 265px;
    height: auto;
    margin: 0px 0px 15px 20px;
    border-radius: 4px;
}

	.float-img-right-two {
	float: right;
    width: 440px;
    height: auto;
    margin: 0px 0px 15px 20px;
    border-radius: 4px;
	}

.float-img-left {
    float: left;
    width: 325px;
    height: auto;
    margin: 5px 25px 0px 0px;
    border-radius: 4px;
}

.float-img-left-alt {
    float: left;
		clear: both;
    width: 200px;
    height: auto;
    margin: 17px 25px 31px 0px;
    border-radius: 4px;
}

.testimonial-one img {
	float: right;
	width:300px;
	height: auto;
	margin: 17px 0px 15px 20px;
	border-radius: 4px;
}

.testimonial-two img {
		float: left;
		width: 275px;
		height: auto;
		margin: 5px 25px 0px 0px;
		border-radius: 4px;
}

.testimonial-three img {
		float: right;
		width: 50%;
		height: auto;
		margin: 15px 0px 15px 20px;
		border-radius: 4px;
}

.testimonial-five p img {
	float: right;
	width: 30%;
	clear: both;
	margin: 15px 0 0 15px;
}

}

@media (min-width: 768px) {

  .home-intro img {
    float: left;
    width: 50% !important;
    clear: both;
    margin: 0 35px 25px 0 !important;
}

	.home-wrap .home-img {
		    float: right;
    		width: 375px;
 		    height: auto;
				border-radius: 8px;
    		box-shadow: 1px 1px 2px 0px;
				margin-left: 20px;
				margin-bottom: 80px;
				transition: .4s;
	}

	.home-wrap .home-img:hover {
				transform: scale(1.01);
	}

	#logo img {
		    width: 180px;
    		height: auto;
	}

	.us-readers {
		margin: 90px 60px 20px 60px;
	}

	.ebook-cover {
    float: right;
    width: 300px;
    margin-left: 40px;
	}

	.ebook-cover img {
		transition: .4s;
	}

	.ebook-cover img:hover {
    transform: scale(1.02);
	}

	.why-wait h1 {
	    font-size: 42px;
	}

	.podcast {
			width: 40%;
			margin-left: 5%;
			padding-left: 4%;
			border-left: 2px dotted;
	}

	.video-cast {
	    width: 50%;
	}

	.testimonial-five {
    margin: 200px 0 160px;
}
}

@media (min-width: 980px) {
	.home-wrap .home-img {
		width: 300px;
		height: auto;
		margin: 15px 0px 10px 21px;
	}

	.button-wrap {
		text-align: left;
		max-width: 600px;
	}

	.video-ad {
		float: left;
		clear: both;
		width: 59%;
		margin: 20px 30px 0 0;
	}

	p.mission-statement {
		    margin-top: -15px !important;
	}

	.mission-heading {
		margin-bottom: 0px;
	}

	.list-float-left {
		float:left;
		width:50%;
	}

	.list-float-right {
		float:right;
		width:50%;
	}

	.first-review {
    border-bottom: 2px solid;
    margin: 0px 335px 0px 0;
    padding-bottom: 25px;
}

h2.review-title {
    font-size: 50px;
    margin: 40px 175px 20px;
    padding: 30px 0;
}
}


@media (min-width: 1200px) {}
